[submodule "bin/puppet"]
	path = bin/puppet
	url = git://github.com/pinterb/puppet-bootstrap.git
[submodule "provisioning/puppet/modules"]
	path = provisioning/puppet/modules
	url = git://github.com/pinterb/puppet-modules.git
