[project]
	description = A collection of stuff a software geek may use to configure their 
[access "refs/*"]
	owner = group user/Brad Pinter (pinterb)
[access "refs/for/refs/*"]
	read = group user/Brad Pinter (pinterb)
	push = group user/Brad Pinter (pinterb)
	label-Code-Review = -2..+2 group user/Brad Pinter (pinterb)
	label-Verified = -1..+1 group user/Brad Pinter (pinterb)
	rebase = group user/Brad Pinter (pinterb)
	removeReviewer = group user/Brad Pinter (pinterb)
	submit = group user/Brad Pinter (pinterb)
[access "refs/heads/*"]
	read = group user/Brad Pinter (pinterb)
	create = group user/Brad Pinter (pinterb)
	push = +force group user/Brad Pinter (pinterb)
	pushMerge = group user/Brad Pinter (pinterb)
[access "refs/tags/*"]
	push = +force group user/Brad Pinter (pinterb)
	pushTag = group user/Brad Pinter (pinterb)
	pushSignedTag = group user/Brad Pinter (pinterb)
