#!/bin/sh
# {{ ansible_managed }}

export GOROOT={{ golang_install_dir }}/go
export PATH=$PATH:$GOROOT/bin

{% if golang_path %}
export GOPATH={{ golang_path|join(':') }}
export PATH=$PATH:{{ golang_path|join('/bin:') }}/bin
{% endif %}
