---
# file: roles/maven/tasks/main.yml

- name: create a maven directory
  file: path=${mvn_install_dir} owner=root group=root state=directory
  tags: mvn_extracted

- name: download maven ${mvn_minor_version}
  get_url: dest=${mvn_install_dir}/apache-maven-${mvn_minor_version}-bin.tar.gz url=${mvn_download_url}
  tags: mvn_extracted

- name: extract maven ${mvn_minor_version} archive file
  action: command creates=${mvn_install_dir}/apache-maven-${mvn_minor_version} chdir=${mvn_install_dir} tar zxvf ${mvn_install_dir}/apache-maven-${mvn_minor_version}-bin.tar.gz --owner=root
  register: mvn-${mvn_minor_version}_extracted
  tags: mvn_extracted
#
#- name: install maven alternatives
#  action: command update-alternatives --install /usr/bin/mvn mvn ${mvn_install_dir}/apache-maven-${mvn_minor_version}/bin/mvn 1
#  tags: mvn_alternatives 
#
#- name: set maven alternatives
#  action: command update-alternatives --set mvn ${mvn_install_dir}/apache-maven-${mvn_minor_version}/bin/mvn 
#  tags: mvn_alternatives 

- name: create a maven symlink
  file: src=${mvn_install_dir}/apache-maven-${mvn_minor_version} dest=${mvn_install_dir}/maven owner=root group=root state=link
  tags: mvn_profiledotd

- name: Copy config maven.sh 
  action: template src=etc_profiled_maven.sh.j2 dest=/etc/profile.d/maven.sh owner=root group=root mode=0644
  tags: mvn_profiledotd 

- name: cleanup maven ${mvn_minor_version} archive file 
  file: path=${mvn_install_dir}/apache-maven-${mvn_minor_version}-bin.tar.gz state=absent
